@import 'partials/reset';

$primary_color: #279AF1;
$secondary_color: #EA526F;
$thirdinary_color: #23B5D3;
$off_white: #FFF9FB;
$off_black: #020F0F;

$primary_font: 'Roboto Slab', sans-serif;
$title_font: 'Open Sans', sans-serif;

section {
  height:800px;
}

nav {
  height: 80px;
  padding: 0 50px;
  background-color: $primary_color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;

  ul a:hover {
    background-color: $primary_color;
    text-decoration: underline;
  }

  h3 {
    font-size: 25px;
  }
}

body {
  font-family: $primary_font;

  h1, h2, h3, h4, h5, h6 {
    font-family: $title_font;
  }
}

header {
  height: 80vh;
  margin-top: 80px;
  background-image: url('images/background.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $off_white;
  text-align: center;

  h1 {
    font-size: 300%;
    margin: 10px 0;
    text-shadow: 2px 2px 3px $off_black;
  }

  h3 {
    font-size: 200%;
    text-shadow: 2px 2px 3px $off_black;
  }
}

#technologies {
  i {
    font-size: 115px;
  }
  .col {
    display: flex;
    align-items: center;
    justify-content: center;
    // border-radius: 15px;
    // width: 150px;
    // height: 150px;
  }
  .react {
    background-color: #222222;
    color: #61dafb;
    display: flex;
    border-radius: 15px;
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
    // text-align: center;
  }
  .rails {
    background-color: #ff0000;
    color: #FFF9FB;
    display: flex;
    border-radius: 15px;
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
  }
  .js {
    // background-color: ;
    color: #f0db4f;
    display: flex;
    border-radius: 15px;
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
  }
  .ps {
    background-color: #222222;
    color: $primary_color;
    display: flex;
    border-radius: 15px;
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
  }
  .node {
    background-color: #79b85e;
    color: $off_white;
    display: flex;
    border-radius: 15px;
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
  }
  .amazon {
    background-color: #f9ca33;
    color: $off_white;
    display: flex;
    border-radius: 15px;
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
  }
}
