@import 'partials/reset';

$primary_color: #279AF1;
$secondary_color: #EA526F;
$thirdinary_color: #23B5D3;
$off_white: #FFF9FB;
$off_black: #020F0F;

$primary_font: 'Roboto Slab', sans-serif;
$title_font: 'Open Sans', sans-serif;

section {
  // height:900px;
  padding: 80px;
}
.container {
  width: 100vw;
  padding: 80px 75px;
  // padding-top: 80px;
}

nav {
  height: 80px;
  padding: 0 50px;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;

  ul a:hover {
    // background-color: $primary_color;
    text-decoration: underline;
  }

  h3 {
    font-size: 25px;
  }
}

body {
  font-family: $primary_font;

  h1, h2, h3, h4, h5, h6 {
    font-family: $title_font;
  }
}

header {
  height: 80vh;
  margin-top: 80px;
  background-image: url('images/background.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $off_white;
  text-align: center;

  h1 {
    font-size: 300%;
    margin: 10px 0;
    text-shadow: 2px 2px 3px $off_black;
  }

  h3 {
    font-size: 200%;
    text-shadow: 2px 2px 3px $off_black;
  }
}

#technologies {
  i {
    font-size: 115px;
  }
  img {
    // font-size: 150px;
    border-radius: 15px;
  }
  h4 {
    font-size: 16px;
    font-weight: 600;
    margin: 15px 0;
  }
  p {
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
  }
  .divide {
    width: 50vw;
    margin: 15px 0;
    border-radius: 0;
  }
  .col {
    display: flex;
    align-items: center;
    justify-content: center;
    // border-radius: 15px;
    // width: 150px;
    // height: 150px;
  }
  .tech-header {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    text-align: center;
    margin-bottom: 40px;
    // padding: 0 75px;
  }

  .tech-header h2 {
    font-size: 42px;
    text-transform: uppercase;
    font-weight: 300;
    color: #EA526F;
    margin: 10px

  }

  .item-box {
    // display: flex;
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    padding-bottom: 20px;
    margin-bottom: 15px;
    transition: all .4s;
    }

  .item-box:hover {
    background: #fff;
    box-shadow: 0 8px 48px 0 rgba(0, 0, 0, 0.15);
  }
  .react {
    background-color: #222222;
    color: #61dafb;
    display: flex;
    border-radius: 15px;
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    // text-align: center;
  }
  .rails {
    background-color: #ff0000;
    color: #FFF9FB;
    display: flex;
    border-radius: 15px;
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .js {
    background-color: #f0db4f;
    color: $off_black;
    display: flex;
    border-radius: 15px;
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .py {
    background-color: $primary_color;
    color: #222222;
    display: flex;
    border-radius: 15px;
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .node {
    background-color: #79b85e;
    color: $off_white;
    display: flex;
    border-radius: 15px;
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .amazon {
    background-color: #4f4f4f;
    color: #f9ca33;
    display: flex;
    border-radius: 15px;
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
}

#experience {
  .exp-header {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    text-align: center;
    margin-bottom: 40px;
    // padding: 0 75px;
  }

  .exp-header h2 {
    font-size: 42px;
    text-transform: uppercase;
    font-weight: 300;
    color: #EA526F;
    margin: 10px

  }
  h4 {
    font-size: 16px;
    font-weight: 600;
    margin: 15px 0;
  }
  p {
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
  }
  .divide {
    width: 60vw;
    margin: 15px 0;
    border-radius: 0;
  }
  .left-text {
    text-align: right;
  }
  .right-text {
    text-align: left;
  }
  .box-item {
    padding-bottom: 30px;
  }
  .image-box img {
    width: 100%;
  }
  // .longer {
  //   margin-bottom: 118px !important;
  // }
  .exp-icon-box {
    display: inline-block;
    float: right;
    border-radius: 4px;
    border: 1px solid #4676fa;
    align-items: center;
    margin: 12px;
    width: 60px;
    height: 60px;
  }
  .right-box {
    float: left;
  }

  .exp-icon-box i {
    font-size: 24px;
    line-height: 60px;
  }
}

.icon-box {
  // display: flex;
  padding: 30px 0;
  background: linear-gradient(120deg, #EA526F 0%, $thirdinary_color 100%);
  color: #FFF;
}

.icon-div {
  text-align: center;
}

.exper-icon {
  font-size: 50px;
}
