@import 'partials/reset';

$primary_color: #279AF1;
$secondary_color: #EA526F;
$thirdinary_color: #23B5D3;
$off_white: #FFF9FB;
$off_black: #020F0F;

$primary_font: 'Roboto Slab', sans-serif;
$title_font: 'Open Sans', sans-serif;

section {
  // height:900px;
  // padding: 80px;
}
.container {
  width: 100vw;
  padding: 80px 75px;
  // padding-top: 80px;
}

nav {
  height: 80px;
  padding: 0 50px;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  border-bottom: 1px solid $secondary_color;
  ul a {
    padding-top: 32px;
    padding-bottom: 32px;
    transition: all .4s;
    letter-spacing: .3px;
    border-radius: 2px;
    font-family: $title_font;
  }
  ul a:hover {
    background-color: $secondary_color;

    // margin-bottom: 3px;
    // border-bottom: 1px solid $secondary_color;

  }

  h3 {
    font-size: 25px;
    letter-spacing: 1px;
  }
}

body {
  font-family: $primary_font;

  h1, h2, h3, h4, h5, h6, a {
    font-family: $title_font;
  }
  p {
    font-family: $primary_font;
  }
}

header {
  width: 100%;
  height: 80vh;
  margin-top: 80px;
  background-image: url('images/background.svg');
  background-size: cover;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $off_white;
  text-align: center;

  h1 {
    font-size: 300%;
    margin-bottom: 65vh;
    // margin: 9vh 0 47vh 0;
    // margin-left: 100px;
    // height: auto;
    // position: absolute;
    // padding-left: 380px;
    // padding-bottom: 180px;
    text-shadow: 2px 2px 3px #1c5454;
  }

  h3 {
    font-size: 110%;
    // margin-left: 60px;
    line-height: 30px;
    text-align: center;
    // width: 57vw;
    letter-spacing: .3px;
    text-shadow: 2px 2px 3px #1c5454;
  }
  img {
    width: 100vw;
  }
  @media only screen and (max-width: 600px) {

  }
}

#technologies {
  i {
    font-size: 115px;
  }
  img {
    // font-size: 150px;
    border-radius: 15px;
  }
  h4 {
    font-size: 16px;
    font-weight: 600;
    margin: 15px 0;
  }
  p {
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    // font-family: $primary_font
  }
  .divide {
    width: 43vw;
    margin: 15px 0;
    border-radius: 0;
  }
  .col {
    display: flex;
    align-items: center;
    justify-content: center;
    // border-radius: 15px;
    // width: 150px;
    // height: 150px;
  }
  .tech-header {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    text-align: center;
    margin-bottom: 40px;
    // padding: 0 75px;
  }

  .tech-header h2 {
    font-size: 42px;
    text-transform: uppercase;
    font-weight: 300;
    color: $off_black;
    margin: 10px
  }
  .tech-header h2 span {
    color: $secondary_color;
  }

  .item-box {
    // display: flex;
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    padding-bottom: 20px;
    margin-bottom: 15px;
    transition: all .4s;
    }

  .item-box:hover {
    background: #fff;
    box-shadow: 0 8px 48px 0 rgba(0, 0, 0, 0.15);
  }
  .react {
    background-color: #222222;
    color: #61dafb;
    display: flex;
    border-radius: 15px;
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    // text-align: center;
  }
  .rails {
    background-color: #ff0000;
    color: #FFF9FB;
    display: flex;
    border-radius: 15px;
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .js {
    background-color: #f0db4f;
    color: $off_black;
    display: flex;
    border-radius: 15px;
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .py {
    background-color: $primary_color;
    color: #222222;
    display: flex;
    border-radius: 15px;
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .node {
    background-color: #79b85e;
    color: $off_white;
    display: flex;
    border-radius: 15px;
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .amazon {
    background-color: #4f4f4f;
    color: #f9ca33;
    display: flex;
    border-radius: 15px;
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
}

#experience {
  .exp-header {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    text-align: center;
    margin-bottom: 40px;
    // padding: 0 75px;
  }

  .exp-header h2 {
    font-size: 42px;
    text-transform: uppercase;
    font-weight: 300;
    color: $off_black;
    margin: 10px
  }
  .exp-header h2 span {
    color: $secondary_color;
  }
  h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 8px;
  }
  p {
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;

  }
  .right-text p {
    padding-left: 84px;
  }
  .divide {
    width: 46vw;
    margin: 15px 0;
    border-radius: 0;
  }
  .left-text {
    text-align: right;
  }
  .right-text {
    text-align: left;
  }
  .box-item {
    padding: 30px 0;
    // transition: all 3s;
  }
  .box-item:hover {
    .exp-icon-box {
      background-color: $secondary_color;
    }
    .exp-icon-box i{
      color: $off_white;
    }

  }
  .image-box img {
    width: 100%;
  }
  // .longer {
  //   margin-bottom: 118px !important;
  // }
  .exp-icon-box {
    display: inline-block;
    float: right;
    border-radius: 4px;
    border: 1px solid $secondary_color;
    align-items: center;
    margin: 12px;
    // margin-top: 30px;
    width: 60px;
    height: 60px;
    transition: all .5s;
  }
  .right-box {
    float: left;
  }
  .houston {
    width: 100%;
    padding: 0 12px;
  }
  .exp-icon-box i {
    font-size: 24px;
    line-height: 60px;
    color: $secondary_color;
    transition: all .5s;
  }
  .no-bottom {
    padding-bottom: 0;
  }
}
#portfolio {
  .port-header {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    text-align: center;
    margin-bottom: 40px;
    // padding: 0 75px;
  }

  .port-header h2 {
    font-size: 42px;
    text-transform: uppercase;
    font-weight: 300;
    color: $off_black;
    margin: 10px
  }
  .port-header h2 span {
    color: $secondary_color;
  }
  h4 {
    font-size: 16px;
    font-weight: 600;
    margin: 15px 0;
    letter-spacing: 1.5px;
  }
  p {
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    color: #403e3e;
  }
  .divide {
    width: 37vw;
    margin: 15px 0;
    border-radius: 0;
  }
  .portfolio-item {
    // height: 305px;
    // margin: 0 10px;
    // margin-bottom: -15px;
    position: relative;
    padding: 0 15px;
    padding-top: 15px;
    background: $thirdinary_color;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.44);
    border-radius: 5px;
    margin-bottom: 5px;
    // transition: 0.6s;
	  // transform-style: preserve-3d;
    // -webkit-transform: perspective(500);
    // -webkit-transform-style: preserve-3d;
    // -webkit-transition: .5s;
  }

  .portfolio-image {
    width: 100%;
    border-radius: 4px;
    height: 200px;
  }
  .descript-text {
    padding: 11px;
    color: $off_white;
    letter-spacing: 1px;
  }
  .descript-text h4  {
    margin: 0;
  }
  .flip-card {
    padding: 10px 15px;
    position: relative;
    width: 100%;
    height: 90%;
    perspective: 30rem;
    margin-bottom: 13px;
}
.front, .back {
  // position: absolute;
  width: 100%; height: 100%;
  transition: transform 1s;
  backface-visibility:hidden;
}
.front {
  // background-color: #66ccff;
}
.back {
  position: absolute;
  top: 10px;
  left: 15px;
  background-color: $secondary_color;
  border-radius: 5px;
  transform: rotateX(180deg);
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.44);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 92.55%;
  height: 91.84%;
}
.back p {
  color: $off_white;
  font-size: 18px;
  padding: 25px;
  letter-spacing: .5px;
  text-align: center;

}
.flip-card:hover .front{ transform: rotateX(180deg); }
.flip-card:hover .back { transform: rotateX(360deg); }
}
#contact {
  background-color: #f2f2f2;
  .contact-header {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    text-align: center;
    // margin-bottom: 40px;
    // padding: 0 75px;
  }
  .contact-header h2 {
    font-size: 42px;
    text-transform: uppercase;
    font-weight: 300;
    color: $off_black;
    margin: 10px
  }
  .contact-header h2 span {
    color: $secondary_color;
  }
  .divide {
    width: 24vw;
    margin: 15px 0;
    border-radius: 0;
  }
  .center-content {
    padding: 80px 120px;
    margin-bottom: 0;
  }
  .outline {
    // border: 1px solid black;
    background-color: #fff;
    padding: 30px;
  }
  input {
    padding: 18px;
    // border-bottom: none;
    border: 1px solid #c8c6c6;
    border-radius: 4px;
    height: auto;
    font-size: 14px;
    box-sizing: border-box;
    width: 100%;
    transition: all .3s;
  }
  input:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid $thirdinary_color !important;
  }
  textarea:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid $thirdinary_color !important;
  }
  input::placeholder {
    color: #7f868a;
  }
  textarea::placeholder {
    color: #7f868a;
  }
  textarea {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    padding: 18px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #c8c6c6;
    transition: all .3s;
  }
  .button {
    padding: 10px 30px;
    font-size: 14px;
    border-radius: 4px;
    background-color: #23B5D3;
    color: $off_white;
    border: 1px solid #23B5D3;
    transition: all .5s;
    width: 250px;
    margin-top: 20px;
  }
  .button:hover {
    color: #23B5D3;
    background-color: $off_white;
  }
}
.download-container h2 {
  font-size: 42px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 40px;
}
.download-box {
  padding: 80px 0;
  background: linear-gradient(120deg, #EA526F 0%, $thirdinary_color 100%);
  color: #FFF;
}
.btn-border {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 4px;
    font-size: 14px;
    padding: 10px 30px;
    margin-top: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: 5px;
    transition: all .4s;
}
.btn-border:hover {
  background-color: #23B5D3;
}
.btn-border i {
  margin-right: 2px;
  font-weight: bold;
}
.no-margin {
  margin-bottom: 0;
}
.text-align {
  display: flex;
  align-items: center;
  justify-content: center;

}
.icon-box {
  // display: flex;
  padding: 30px 0;
  background: linear-gradient(120deg, #EA526F 0%, $thirdinary_color 100%);
  color: #FFF;
}

.icon-div {
  text-align: center;
}

.exper-icon {
  font-size: 50px;
}

input:active {
  border: 1px solid $thirdinary_color;
}

footer {
  background: #333;
  padding: 60px 0px 30px;
  text-align: center;
  p {
    color: $off_white;
    font-family: $title_font;
    font-weight: 300;
  }
  a {
    display: inline-block;
    border: 1px solid $off_white;
    border-radius: 4px;
    line-height: 46px;
    width: 46px;
    height: 46px;
    text-align: center;
    margin-right: 15px;
    margin-bottom: 30px;
  }
  .link {
    transition: all .4s;
  }
  .link:hover {
    background-color: #399ce6;
    border: 1px solid #399ce6;
    color: $off_white;
  }
  .git {
    transition: all .4s;
  }
  .git:hover {
    background-color: red;
    border: 1px solid red;
    .github {
      color: $off_white;
    }
  }
  .angel {
    transition: all .4s;
  }
  .angel:hover {
    background-color: green;
    border: 1px solid green;
    .angellist {
      color: $off_white;
    }
  }
  .linkedin{
    font-size: 18px;
  }
  .github {
    font-size: 18px;
    color: red;
    transition: all .4s;
  }
  .angellist {
    font-size: 18px;
    color: green;
    transition: all .4s;
  }

}
