html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

section {
  padding: 80px; }

.container {
  width: 100vw;
  padding: 80px 75px; }

nav {
  height: 80px;
  padding: 0 50px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1; }
  nav ul a:hover {
    text-decoration: underline; }
  nav h3 {
    font-size: 25px; }

body {
  font-family: "Roboto Slab", sans-serif; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: "Open Sans", sans-serif; }

header {
  height: 80vh;
  margin-top: 80px;
  background-image: url("images/background.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFF9FB;
  text-align: center; }
  header h1 {
    font-size: 300%;
    margin: 10px 0;
    text-shadow: 2px 2px 3px #020F0F; }
  header h3 {
    font-size: 200%;
    text-shadow: 2px 2px 3px #020F0F; }

#technologies i {
  font-size: 115px; }
#technologies img {
  border-radius: 15px; }
#technologies h4 {
  font-size: 16px;
  font-weight: 600;
  margin: 15px 0; }
#technologies p {
  font-size: 14px;
  font-weight: 300;
  line-height: 26px; }
#technologies .divide {
  width: 50vw;
  margin: 15px 0;
  border-radius: 0; }
#technologies .col {
  display: flex;
  align-items: center;
  justify-content: center; }
#technologies .tech-header {
  text-align: center;
  margin-bottom: 40px; }
#technologies .tech-header h2 {
  font-size: 42px;
  text-transform: uppercase;
  font-weight: 300;
  color: #020F0F;
  margin: 10px; }
#technologies .tech-header h2 span {
  color: #EA526F; }
#technologies .item-box {
  border-radius: 5px;
  text-align: center;
  padding: 15px;
  padding-bottom: 20px;
  margin-bottom: 15px;
  transition: all .4s; }
#technologies .item-box:hover {
  background: #fff;
  box-shadow: 0 8px 48px 0 rgba(0, 0, 0, 0.15); }
#technologies .react {
  background-color: #222222;
  color: #61dafb;
  display: flex;
  border-radius: 15px;
  width: 150px;
  height: 150px;
  align-items: center;
  justify-content: center;
  margin: 0 auto; }
#technologies .rails {
  background-color: #ff0000;
  color: #FFF9FB;
  display: flex;
  border-radius: 15px;
  width: 150px;
  height: 150px;
  align-items: center;
  justify-content: center;
  margin: 0 auto; }
#technologies .js {
  background-color: #f0db4f;
  color: #020F0F;
  display: flex;
  border-radius: 15px;
  width: 150px;
  height: 150px;
  align-items: center;
  justify-content: center;
  margin: 0 auto; }
#technologies .py {
  background-color: #279AF1;
  color: #222222;
  display: flex;
  border-radius: 15px;
  width: 150px;
  height: 150px;
  align-items: center;
  justify-content: center;
  margin: 0 auto; }
#technologies .node {
  background-color: #79b85e;
  color: #FFF9FB;
  display: flex;
  border-radius: 15px;
  width: 150px;
  height: 150px;
  align-items: center;
  justify-content: center;
  margin: 0 auto; }
#technologies .amazon {
  background-color: #4f4f4f;
  color: #f9ca33;
  display: flex;
  border-radius: 15px;
  width: 150px;
  height: 150px;
  align-items: center;
  justify-content: center;
  margin: 0 auto; }

#experience .exp-header {
  text-align: center;
  margin-bottom: 40px; }
#experience .exp-header h2 {
  font-size: 42px;
  text-transform: uppercase;
  font-weight: 300;
  color: #020F0F;
  margin: 10px; }
#experience .exp-header h2 span {
  color: #EA526F; }
#experience h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 8px; }
#experience p {
  font-size: 14px;
  font-weight: 300;
  line-height: 26px; }
#experience .divide {
  width: 60vw;
  margin: 15px 0;
  border-radius: 0; }
#experience .left-text {
  text-align: right; }
#experience .right-text {
  text-align: left; }
#experience .box-item {
  padding: 30px 0; }
#experience .box-item:hover .exp-icon-box {
  background-color: #EA526F; }
#experience .box-item:hover .exp-icon-box i {
  color: #FFF9FB; }
#experience .image-box img {
  width: 100%; }
#experience .exp-icon-box {
  display: inline-block;
  float: right;
  border-radius: 4px;
  border: 1px solid #EA526F;
  align-items: center;
  margin: 12px;
  width: 60px;
  height: 60px;
  transition: all .5s; }
#experience .right-box {
  float: left; }
#experience .houston {
  width: 100%;
  padding: 0 12px; }
#experience .exp-icon-box i {
  font-size: 24px;
  line-height: 60px;
  color: #EA526F;
  transition: all .5s; }
#experience .no-bottom {
  padding-bottom: 0; }

#portfolio .port-header {
  text-align: center;
  margin-bottom: 40px; }
#portfolio .port-header h2 {
  font-size: 42px;
  text-transform: uppercase;
  font-weight: 300;
  color: #020F0F;
  margin: 10px; }
#portfolio .port-header h2 span {
  color: #EA526F; }
#portfolio h4 {
  font-size: 16px;
  font-weight: 600;
  margin: 15px 0;
  letter-spacing: 1.5px; }
#portfolio p {
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  color: #403e3e; }
#portfolio .divide {
  width: 40vw;
  margin: 15px 0;
  border-radius: 0; }
#portfolio .portfolio-item {
  position: relative;
  padding: 0 15px;
  padding-top: 15px;
  background: #23B5D3;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.44);
  border-radius: 5px;
  margin-bottom: 5px; }
#portfolio .portfolio-image {
  width: 100%;
  border-radius: 4px;
  height: 200px; }
#portfolio .descript-text {
  padding: 11px;
  color: #FFF9FB;
  letter-spacing: 1px; }
#portfolio .descript-text h4 {
  margin: 0; }
#portfolio .flip-card {
  padding: 10px 15px;
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 30rem; }
#portfolio .front, #portfolio .back {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  backface-visibility: hidden; }
#portfolio .back {
  position: absolute;
  top: 10px;
  left: 15px;
  background-color: #EA526F;
  border-radius: 5px;
  transform: rotateX(180deg);
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.44);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 92.55%;
  height: 91.84%; }
#portfolio .back p {
  color: #FFF9FB;
  font-size: 18px;
  padding: 25px;
  letter-spacing: .5px;
  text-align: center; }
#portfolio .flip-card:hover .front {
  transform: rotateX(180deg); }
#portfolio .flip-card:hover .back {
  transform: rotateX(360deg); }

#contact {
  background-color: #f2f2f2; }
  #contact .contact-header {
    text-align: center; }
  #contact .contact-header h2 {
    font-size: 42px;
    text-transform: uppercase;
    font-weight: 300;
    color: #020F0F;
    margin: 10px; }
  #contact .contact-header h2 span {
    color: #EA526F; }
  #contact .divide {
    width: 27vw;
    margin: 15px 0;
    border-radius: 0; }
  #contact .center-content {
    padding: 0 120px; }
  #contact .outline {
    border: 1px solid black;
    background-color: #fff;
    padding: 30px; }
  #contact textarea {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    padding: 18px;
    font-size: 14px;
    border-radius: 4px; }

.download-container h2 {
  font-size: 42px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 40px; }

.download-box {
  padding: 80px 0;
  background: linear-gradient(120deg, #EA526F 0%, #23B5D3 100%);
  color: #FFF; }

.btn-border {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 4px;
  font-size: 14px;
  padding: 10px 30px;
  margin-top: 40px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right: 5px;
  transition: all .4s; }

.btn-border:hover {
  background-color: #23B5D3; }

.btn-border i {
  margin-right: 2px; }

.no-margin {
  margin-bottom: 0; }

.text-align {
  display: flex;
  align-items: center;
  justify-content: center; }

.icon-box {
  padding: 30px 0;
  background: linear-gradient(120deg, #EA526F 0%, #23B5D3 100%);
  color: #FFF; }

.icon-div {
  text-align: center; }

.exper-icon {
  font-size: 50px; }

/*# sourceMappingURL=style.css.map */
