html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.navToggle {
  z-index: 111;
  position: fixed;
  width: 100px;
  height: 80px;
  right: 0;
  margin: 0 auto;
  cursor: pointer; }
  .navToggle .icon {
    -webkit-transition: all 0.4s ease-out;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 50px;
    height: 2px;
    background-color: #fff; }
    .navToggle .icon:before, .navToggle .icon:after {
      -webkit-transition: all 0.25s ease-out;
      position: absolute;
      width: 50px;
      height: 2px;
      background-color: #fff;
      content: ''; }
    .navToggle .icon:before {
      top: -20px;
      left: 0; }
    .navToggle .icon:after {
      top: 20px;
      left: 0; }
  .navToggle:hover .icon {
    background-color: #fff; }
    .navToggle:hover .icon:before {
      top: -25px;
      background-color: #fff; }
    .navToggle:hover .icon:after {
      top: 25px;
      background-color: #fff; }
  .navToggle.open .icon {
    -webkit-transition: all 0.4s ease-out;
    background-color: transparent;
    -webkit-transform: rotate(180deg); }
    .navToggle.open .icon:before {
      top: 0;
      -webkit-transform: rotate(45deg); }
    .navToggle.open .icon:after {
      top: 0;
      -webkit-transform: rotate(-45deg); }

#container {
  width: 100%;
  height: 80px;
  position: fixed;
  background-color: black;
  border-bottom: 1px solid #EA526F; }
  #container h3 {
    color: white;
    line-height: 80px;
    font-size: 25px;
    margin-left: 50px; }

#menu {
  z-index: 1;
  right: 0;
  top: 80px;
  margin: 0 auto;
  position: fixed;
  width: 200px;
  height: 0px;
  overflow: hidden;
  text-align: center;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s; }
  #menu ul {
    list-style: none;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 100;
    text-transform: uppercase;
    background-color: black;
    color: white; }
  #menu li:first-child {
    margin-top: 0; }
  #menu li:last-child {
    margin-bottom: 0; }
  #menu li {
    padding: 18px 0;
    cursor: pointer;
    letter-spacing: 2.5px;
    text-decoration: none;
    -webkit-transition: all 0.25s; }
  #menu li:hover {
    background-color: #EA526F; }
  #menu.active {
    height: 217px;
    border-bottom: 1px solid #EA526F; }

.container {
  width: 100vw;
  padding: 80px 5px; }

@media only screen and (min-width: 768px) {
  .container {
    padding: 80px 75px !important; } }
nav {
  height: 80px;
  padding: 0 50px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  border-bottom: 1px solid #EA526F; }
  nav ul {
    display: none; }
  nav ul a {
    padding-top: 32px;
    padding-bottom: 32px;
    transition: all .4s;
    letter-spacing: .3px;
    border-radius: 2px;
    font-family: "Open Sans", sans-serif; }
  nav ul a:hover {
    background-color: #EA526F; }
  nav h3 {
    font-size: 25px;
    letter-spacing: 1px; }

body {
  font-family: "Roboto Slab", sans-serif; }
  body h1, body h2, body h3, body h4, body h5, body h6, body a {
    font-family: "Open Sans", sans-serif; }
  body p {
    font-family: "Roboto Slab", sans-serif; }

header {
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFF9FB;
  text-align: center; }
  header img {
    width: 20vw;
    margin: 15px 0; }
  header h1 {
    font-size: 300%;
    text-shadow: 2px 2px 3px #1c5454; }
  header h3 {
    font-size: 110%;
    line-height: 30px;
    text-align: center;
    letter-spacing: .3px;
    text-shadow: 2px 2px 3px #1c5454; }

@media only screen and (min-width: 728px) {
  header {
    height: 70vh; } }
#technologies i {
  font-size: 115px; }
#technologies img {
  border-radius: 15px; }
#technologies h4 {
  font-size: 16px;
  font-weight: 600;
  margin: 15px 0; }
#technologies p {
  font-size: 14px;
  font-weight: 300;
  line-height: 26px; }
#technologies .divide {
  width: 43vw;
  margin: 15px 0;
  border-radius: 0; }
#technologies .col {
  display: flex;
  align-items: center;
  justify-content: center; }
#technologies .tech-header {
  text-align: center;
  margin-bottom: 40px; }
#technologies .tech-header h2 {
  font-size: 42px;
  text-transform: uppercase;
  font-weight: 300;
  color: #020F0F;
  margin: 10px; }
#technologies .tech-header h2 span {
  color: #EA526F; }
#technologies .item-box {
  border-radius: 5px;
  text-align: center;
  padding: 15px;
  padding-bottom: 20px;
  margin-bottom: 15px;
  transition: all .4s; }
#technologies .item-box:hover {
  background: #fff;
  box-shadow: 0 8px 48px 0 rgba(0, 0, 0, 0.15); }
#technologies .react {
  background-color: #222222;
  color: #61dafb;
  display: flex;
  border-radius: 15px;
  width: 150px;
  height: 150px;
  align-items: center;
  justify-content: center;
  margin: 0 auto; }
#technologies .rails {
  background-color: #ff0000;
  color: #FFF9FB;
  display: flex;
  border-radius: 15px;
  width: 150px;
  height: 150px;
  align-items: center;
  justify-content: center;
  margin: 0 auto; }
#technologies .js {
  background-color: #f0db4f;
  color: #020F0F;
  display: flex;
  border-radius: 15px;
  width: 150px;
  height: 150px;
  align-items: center;
  justify-content: center;
  margin: 0 auto; }
#technologies .py {
  background-color: #279AF1;
  color: #222222;
  display: flex;
  border-radius: 15px;
  width: 150px;
  height: 150px;
  align-items: center;
  justify-content: center;
  margin: 0 auto; }
#technologies .node {
  background-color: #79b85e;
  color: #FFF9FB;
  display: flex;
  border-radius: 15px;
  width: 150px;
  height: 150px;
  align-items: center;
  justify-content: center;
  margin: 0 auto; }
#technologies .amazon {
  background-color: #4f4f4f;
  color: #f9ca33;
  display: flex;
  border-radius: 15px;
  width: 150px;
  height: 150px;
  align-items: center;
  justify-content: center;
  margin: 0 auto; }

#experience .exp-header {
  text-align: center;
  margin-bottom: 40px; }
#experience .exp-header h2 {
  font-size: 42px;
  text-transform: uppercase;
  font-weight: 300;
  color: #020F0F;
  margin: 10px; }
#experience .exp-header h2 span {
  color: #EA526F; }
#experience h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 8px; }
#experience p {
  font-size: 14px;
  font-weight: 300;
  line-height: 26px; }
#experience .right-text p {
  padding-left: 84px; }
#experience .divide {
  width: 46vw;
  margin: 15px 0;
  border-radius: 0; }
#experience .left-text {
  text-align: right; }
#experience .right-text {
  text-align: left; }
#experience .box-item {
  padding: 30px 0; }
#experience .box-item:hover .exp-icon-box {
  background-color: #EA526F; }
#experience .box-item:hover .exp-icon-box i {
  color: #FFF9FB; }
#experience .image-box img {
  width: 100%; }
#experience .exp-icon-box {
  display: inline-block;
  float: right;
  border-radius: 4px;
  border: 1px solid #EA526F;
  align-items: center;
  margin: 12px;
  width: 60px;
  height: 60px;
  transition: all .5s; }
#experience .right-box {
  float: left; }
#experience .houston {
  width: 100%;
  padding: 0 12px; }
#experience .exp-icon-box i {
  font-size: 24px;
  line-height: 60px;
  color: #EA526F;
  transition: all .5s; }
#experience .no-bottom {
  padding-bottom: 0; }

#portfolio .port-header {
  text-align: center;
  margin-bottom: 40px; }
#portfolio .port-header h2 {
  font-size: 42px;
  text-transform: uppercase;
  font-weight: 300;
  color: #020F0F;
  margin: 10px; }
#portfolio .port-header h2 span {
  color: #EA526F; }
#portfolio h4 {
  font-size: 16px;
  font-weight: 600;
  margin: 15px 0;
  letter-spacing: 1.5px; }
#portfolio p {
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  color: #403e3e; }
#portfolio .divide {
  width: 37vw;
  margin: 15px 0;
  border-radius: 0; }
#portfolio .portfolio-item {
  position: relative;
  padding: 0 15px;
  padding-top: 15px;
  background: #23B5D3;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.44);
  border-radius: 5px;
  margin-bottom: 5px; }
#portfolio .portfolio-image {
  width: 100%;
  border-radius: 4px;
  height: 200px; }
#portfolio .descript-text {
  padding: 11px;
  color: #FFF9FB;
  letter-spacing: 1px; }
#portfolio .descript-text h4 {
  margin: 0; }
#portfolio .flip-card {
  padding: 10px 15px;
  position: relative;
  width: 100%;
  height: 90%;
  perspective: 30rem;
  -webkit-perspective: 30rem;
  -o-perspective: 30rem;
  -moz-perspective: 30rem;
  margin-bottom: 13px; }
#portfolio .front, #portfolio .back {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -o-backface-visibility: hidden; }
#portfolio .back {
  position: absolute;
  top: 10px;
  left: 15px;
  background-color: #EA526F;
  border-radius: 5px;
  transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.44);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 92.55%;
  height: 91.84%; }
#portfolio .back p {
  color: #FFF9FB;
  font-size: 18px;
  padding: 25px;
  letter-spacing: .5px;
  text-align: center; }
#portfolio .flip-card:hover .front {
  transform: rotateX(180deg); }
#portfolio .flip-card:hover .back {
  transform: rotateX(360deg); }

#contact {
  background-color: #f2f2f2; }
  @media only screen and (min-width: 768px) {
    #contact {
      /* For mobile phones: */ }
      #contact .center-content {
        padding: 80px 120px !important; } }
  #contact .contact-header {
    text-align: center; }
  #contact .contact-header h2 {
    font-size: 42px;
    text-transform: uppercase;
    font-weight: 300;
    color: #020F0F;
    margin: 10px; }
  #contact .contact-header h2 span {
    color: #EA526F; }
  #contact .divide {
    width: 24vw;
    margin: 15px 0;
    border-radius: 0; }
  #contact .center-content {
    padding: 80px 0px;
    margin-bottom: 0; }
  #contact .outline {
    background-color: #fff; }
  #contact input {
    padding: 18px;
    border: 1px solid #c8c6c6;
    border-radius: 4px;
    height: auto;
    font-size: 14px;
    box-sizing: border-box;
    width: 100%;
    transition: all .3s; }
  #contact input:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #23B5D3 !important; }
  #contact textarea:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #23B5D3 !important; }
  #contact input::placeholder {
    color: #7f868a; }
  #contact textarea::placeholder {
    color: #7f868a; }
  #contact textarea {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    padding: 18px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #c8c6c6;
    transition: all .3s; }
  #contact .button {
    padding: 10px 30px;
    font-size: 14px;
    border-radius: 4px;
    background-color: #23B5D3;
    color: #FFF9FB;
    border: 1px solid #23B5D3;
    transition: all .5s;
    width: 250px;
    margin-top: 20px; }
  #contact .button:hover {
    color: #23B5D3;
    background-color: #FFF9FB; }

.download-container h2 {
  font-size: 42px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 40px; }

.download-box {
  padding: 80px 0;
  background: linear-gradient(120deg, #EA526F 0%, #23B5D3 100%);
  color: #FFF; }

.btn-border {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 4px;
  font-size: 14px;
  padding: 10px 30px;
  margin-top: 40px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right: 5px;
  transition: all .4s; }

.btn-border:hover {
  background-color: #23B5D3; }

.btn-border i {
  margin-right: 2px;
  font-weight: bold; }

.no-margin {
  margin-bottom: 0; }

.text-align {
  display: flex;
  align-items: center;
  justify-content: center; }

.icon-box {
  padding: 30px 0;
  background: linear-gradient(120deg, #EA526F 0%, #23B5D3 100%);
  color: #FFF; }

.icon-div {
  text-align: center; }

.exper-icon {
  font-size: 50px; }

input:active {
  border: 1px solid #23B5D3; }

footer {
  background: #333;
  padding: 60px 0px 30px;
  text-align: center; }
  footer p {
    color: #FFF9FB;
    font-family: "Open Sans", sans-serif;
    font-weight: 300; }
  footer a {
    display: inline-block;
    border: 1px solid #FFF9FB;
    border-radius: 4px;
    line-height: 46px;
    width: 46px;
    height: 46px;
    text-align: center;
    margin-right: 15px;
    margin-bottom: 30px; }
  footer .link {
    transition: all .4s; }
  footer .link:hover {
    background-color: #399ce6;
    border: 1px solid #399ce6;
    color: #FFF9FB; }
  footer .git {
    transition: all .4s; }
  footer .git:hover {
    background-color: red;
    border: 1px solid red; }
    footer .git:hover .github {
      color: #FFF9FB; }
  footer .angel {
    transition: all .4s; }
  footer .angel:hover {
    background-color: green;
    border: 1px solid green; }
    footer .angel:hover .angellist {
      color: #FFF9FB; }
  footer .linkedin {
    font-size: 18px; }
  footer .github {
    font-size: 18px;
    color: red;
    transition: all .4s; }
  footer .angellist {
    font-size: 18px;
    color: green;
    transition: all .4s; }

/*# sourceMappingURL=style.css.map */
